[Desktop Entry]
Name=Mainline Kernels (Arch Linux)
MimeType=
Exec=mainline-gtk
Type=Application
GenericName=Mainline Kernels (Arch Linux)
Terminal=false
Icon=mainline
Comment=Mainline Kernels (Arch Linux)
StartupNotify=true;
Categories=System;
StartupWMClass=mainline-gtk
